{% extends "./default.twig" %}
{% block body %}
    <article class="search card bg-light shadow-sm mb-2 ">
        <div class="card-header">Recherches</div>
        <div class="search-inputs card-body">
            <div class="row gx-3">
                <section class="col-lg">
                    <div class="alert alert-warning shadow-sm">

                        <form class="px-4 py-3" action="/index.php/batiment-religieux/search">
                            <label class="form-label" for="searchBatRel">Cherchez un lieux de culte ↲ </label>
                            <div class="input-group">
                                <input type="search" class="form-control" name="query" id="searchBatRel"
                                       placeholder="Cherchez un lieux de culte">
                                <button type="submit" class="btn btn-primary ">🔎</button>
                            </div>
                        </form>
                    </div>
                </section>
                <section class="col-lg">
                    <div class="alert alert-warning shadow-sm">
                        <form class="px-4 py-3" action="/index.php/ville/search">
                            <label class="form-label" for="searchVille">Cherchez une ville ↲ </label>
                            <div class="input-group">
                                <input type="search" class="form-control" name="query" id="searchVille"
                                       placeholder="Cherchez une ville">
                                <button type="submit" class="btn btn-primary ">🔎</button>
                            </div>
                        </form>
                    </div>
                </section>
                <section class="col-lg">
                    <div class="alert alert-warning shadow-sm">
                        <form class="px-4 py-3" action="/index.php/religion/search">
                            <label class="form-label" for="floatingInput">Cherchez une religion ↲ </label>
                            <div class="input-group">
                                <input type="search" class="form-control" name="query" id="searchReligion"
                                       placeholder="Cherchez une religion">
                                <button type="submit" class="btn btn-primary ">🔎</button>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </article>

    <div class="card">
        <div class="card-body">
            <div class="row my-2 g-3">
                <div class="col-md-8 align-self-stretch">
                    <section class=" alert alert-warning h-100 shadow-sm align">
                        <h1>À Propos du site</h1>
                        <p>
                            Depuis plus de quinze siècles, les monument religieux sont des lieux d’une importance
                            majeure pour la société Sri lankaise. Il s’agit certes de lieux où l’on prie les dieux,
                            mais ce sont aussi souvent de véritables pôles sociaux, économiques et politiques où
                            s’affichent les différences de statut, que ce soit lors des rituels ou par le biais de
                            dons ostensiblement offerts à la divinité tutélaire du lieu saint.
                        </p>
                        <p>
                            On trouve aujourd’hui des monuments religieux dans toutes les villes et villages du
                            Sri Lanka, allant des petits autels et sanctuaires de rue aux grands centres de pèlerinage.
                            Beaucoup sont même devenus de riches établissements grâce aux dons monétaires et fonciers
                            qu’ils reçoivent depuis des siècles.
                        </p>
                        <p>
                            On observe également depuis une trentaine d’années une multiplication spectaculaire
                            des constructions et des rénovations de temples. Des lieux de culte de toutes tailles
                            apparaissent ainsi dans les villes et les campagnes, tandis que les sites de pèlerinage
                            attirent de plus en plus de fidèles et connaissent une croissance urbaine rapide.
                        </p>
                    </section>
                </div>
                <div class="mx-3 my-auto col-md">
                    <img src="/assets/img/carte.jpg" alt="carte" class="img-fluid rounded">
                </div>
            </div>
        </div>
    </div>
{% endblock %}




