<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/index.php/accueil">🛕 Temple Finder</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/index.php/religion">📿 Religions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/index.php/ville">🏙️ Ville</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/index.php/batiment-religieux">⛪ Bâtiment religieux</a>
                </li>
            </ul>
        </div>

{#        <form class="d-flex">#}
{#            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">#}
{#            <button class="btn btn-outline-success" type="submit">Search</button>#}
{#        </form>#}
    </div>
</nav>