{% extends "./default.twig" %}
{% block body %}
    <div class="container">
        <div class="alert alert-danger text-center w p-4 mt-4">
            <h1>Page introuvable.</h1>
            <p>erreur 404</p>
        </div>
    </div>
{% endblock %}