{% extends "./default.twig" %}
{% block body %}


    <div class="card">
    {% if ville %}
        <div class="card-header">Ville : <b>{{ ville.label }}</b></div>
        <div class="card-body">

            <div class="row">
                <section class="col-auto">
                    <img src="https://unsplash.it/200/200" alt="image">

                </section>
                <section class="col">
                    <h5 class="fw-bold"> A propos :</h5>
                    <p>{{ ville.abstract }}</p>

                </section>
            </div>
            <hr>
                <section class="col">
                    <h5 class="fw-bold"> Décalage Horaire ('en') : </h5>
                    <p>{{ ville.utcOffset }} </p>
                </section>

            <h5 class="fw-bold"> Type :</h5>
            <p> {{ ville.settlementType }}</p>
            <hr>
            <h5 class="fw-bold"> Population Total: </h5>
            <p>{{ ville.populationTotal }}</p>
        </div>
        </div>
    {% else %}
        <div class="alert alert-danger">
            <h1>Ville inexistante.</h1>
            <p><a href="/index.php/ville/index">Retourner à l'index</a></p>
        </div>

    {% endif %}
    </div>
    </div>
{% endblock %}




