{% extends "./default.twig" %}
{% block body %}


    <div class="card">
        <div class="card-header">Resultats de la recherche : <i>{{ query }}</i></div>
        <div class="card-body">
            <ul class="list-group list-group-flush">
                {% for entry in result %}
                    <li class="list-group-item">
                        {% set resource = entry.religion|split('/')|last %}
                        <a href="/index.php/ville/show/{{ resource }}">
                            {{ entry.label }}
                        </a>
                    </li>
                {% else %}
                    <li class="list-group-item">Pas de résultat.</li>
                {% endfor %}

            </ul>
        </div>
    </div>
{% endblock %}