{% extends "./default.twig" %}
{% block body %}


    <div class="card">
        <div class="card-header">Index des Religion</div>
        <div class="card-body">
            {% if religion %}

                <div class="card" style="width: 75rem;">
                    <div class="card-body">
                        <h5 class="card-title"> A propos : {{ religion.abstract}}</h5>
                    </div>

                </div>
            {% else %}
                <div class="alert alert-danger">
                    <h1>Ville inexistante.</h1>
                    <p><a href="/index.php/religion/index">Retourner à l'index</a></p>
                </div>

            {% endif %}
        </div>
    </div>
{% endblock %}