{% extends "./default.twig" %}
{% block body %}
    <style>
        #mapid {
            height: 500px;
        }
    </style>
    <div class="card">

        {% if temple %}
        <div class="card-header">{{ temple.label }}</div>
        <div class="card-body">
            {% if temple.abstract %}
                <h2>Description : </h2>
                <p>{{ temple.abstract }}</p>
            {% endif %}

            {% else %}
                <div class="alert alert-danger">
                    <h1>Temple inexistante.</h1>
                    <p><a href="/index.php/batiment-religieux/index">Retourner à l'index</a></p>
                </div>
            {% endif %}
            {% if temple.lat %}
                <div class="m-5" id="mapid"></div>
            {% endif %}

        </div>
    </div>


        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
              integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
              crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
                integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
                crossorigin=""></script>
        {# <script src="/assets/js/leaflet.js"></script> #}
        <script>
            const mymap = L.map('mapid').setView([{{ temple.lat }} , {{ temple.long }} ], 13);
            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                id: 'mapbox/streets-v11',
                tileSize: 512,
                zoomOffset: -1,
                accessToken: 'pk.eyJ1Ijoicy1zaXZhYWppdGhhbiIsImEiOiJja2w4aHB3aDgwcWx0MnhyMjd2cHNja3huIn0.HR2T4EiI89xZ4xJoC4qFtg'
            }).addTo(mymap);
            const marker = L.marker([{{ temple.lat }} , {{ temple.long }} ]).addTo(mymap);
            marker.bindPopup("<b>{{ temple.label }}</b>").openPopup();
        </script>

{% endblock %}




